body {
    margin: 0;
    min-height: 100vh;

    background: radial-gradient(
        circle at top,
        #2b2b6e 0%,
        rgb(21, 21, 94) 45%,
        #060635 100%
    );

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #eaeaea;
    font-family: cursive;

    overflow-x: hidden;
}

#canvas {
    margin: 2rem auto;

    border: 4px solid #b71f1f;
    border-radius: 8px;
}